<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      <%= content_for?(:title_tag) ? content_for(:title_tag) + ' - ' : '' %>Overwatch Team Comps
    </title>
    <%= csrf_meta_tags %>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <% if alert.present? %>
      <p class="alert text-attack"><%= alert %></p>
    <% end %>
    <% if notice.present? %>
      <p class="notice text-defend"><%= notice %></p>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
